<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
    <div id="container">
        <canvas id="canvas" />
    </div>
</body>
</html>