@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack: 'Open Sans', sans-serif;

html {
    height: 100%;
    font-family: $font-stack;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #000;
    color: #fff;
}

canvas {
  width: 100%;
  height: 100%;
  background: #000;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
